---
import CoursesPage from '../pages/CoursPage'; // путь к компоненту
import Layout from "../components/layouts/Layout.astro";
import Header from "../components/Header.astro";
import '../i18n/client';
---

<Layout title="О нас | КиберАкадемия KG">
<main >
    <Header/>
    <CoursesPage client:only="react"/>

</main>


    